<b>Notes:</b>
<ul id="note-log-entries">
  <% @entry.notes.each do |note| %>
    <%= render partial: 'notes/show_note_log_item', locals: {project: @project, item: @entry, note: note} %>
  <% end %>
    <li><%= link_to 'Add note', polymorphic_url([:new, @project, @entry, :note], layout: false) %></li>
</ul>

