  <% entry.todays_stories.each do |story| %>
    <li><%= link_to "(#{completion_status(story)}) #{story.title} : [#{story.hours_est or 0.0} / #{story.hours_worked or 0.0} / #{story.hours_todo or 0.0}]", [project, story] %>
    <% if story.is_open? %>
    | <%= link_to 'Mark as Done', [:mark_as_done, project, story], method: :put, data: { confirm: 'Are you sure?' } %>
    | <%= link_to "Add hours worked", polymorphic_url([:new, project, entry, story, :work_hour], layout: false) %>
    <% end %>
    </li>
  <% end %>

