<h1>Editing story</h1>

<%= render 'form' %>

<%= link_to 'Show', [@project, @story] %> |
<%= link_to 'Back', [@project, :stories] %>

<div id="note-log">
  <%= render partial: 'shared/show_note_logs', locals: {item: @story} %>
</div>

