// Place all the styles related to the Entries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.main-content{
  select, textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input {
    border-radius: 4px 4px 4px 4px;
    color: #555555;
    display: inline-block;
    font-size: 14px;
    height: auto;
    line-height: 20px;
    margin-bottom: 10px;
    padding: 4px 6px;
    vertical-align: middle;
  }
}

.estimated-time-interval.active .hours-worked{
  font-style: italic;
}
.estimated-time-interval.active .current-time{
  font-style: italic;
}

.onoffswitch-container{
  float: right; 
}

#work-intervals-summary li, 
#work-intervals li{
  width: 175px;
}

#work-intervals-summary li .day-end-estimate, 
#work-intervals-summary li .hours-worked, 
#work-intervals li .hours-worked{
  float: right; 
}

#work-intervals-summary li .day-end-estimate, 
#work-intervals-summary li .hours-worked-total{
  font-weight: bold;
}


table.entries tr.entry td{
  padding-bottom: 2em;
}

table.entries tr.entry .entry-recorded-for .work-day-date{
  font-weight: bold;
  font-size: 14pt;
  color: #2D3BA3;
}

table.entries tr.entry .entry-recorded-for .work-day-date:before{
  content: "[ ";
}
table.entries tr.entry .entry-recorded-for .work-day-date:after{
  content: " ]";
}

.row.with-headings{
  font-weight: bold; 
}

table.entries th{
  text-align: left; 
}

div.entries{
  font-size: 12pt;
}

div.entries, .span1{
  position: relative; 
}
div.entries, .hours{
  position: relative; 
  float: right; 
}

.report-header{
  width: 100%;
  position: relative; 
}
.report-header h1{
  position: relative; 
  width: 50%;
}
.report-header .hrs-worked{
  position: relative; 
}

.entries-header h3{
  float: right; 
}

ul#related-story-note-log-entries, 
ul#note-log-entries{
  list-style: none; 
}

ul#related-story-note-log-entries .well.notes {
  position: relative; 
}

ul#related-story-note-log-entries .well.notes h4 {
  color: #C0C0C0;
  font-size: 10pt;
  font-style: italic;
  font-weight: normal;
  position: absolute;
  right: 4px;
  text-align: right;
  top: -11px;
}

#myModal .modal-body textarea{
  height: 129px;
  width: 100%; 
}

#myModal .modal-body form .actions input[name='commit'], 
#myModal .modal-body form .actions button[name='cancel']{
  display: none; 
}

.story-notes .related-story{
  font-style: italic;
}

.entries .story-summary{
  background-color: #DFF0D8;
  border-color: #D6E9C6;
}

.entries .story-summary a, 
.entries .story-summary{
  color: #468847;
}
